[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "shells/zsh/zplug"]
	path = shells/zsh/zplug
	url = https://github.com/zplug/zplug
	ignore = dirty
[submodule "meta/dotbot-brewfile"]
	path = meta/dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
	ignore = dirty
